h1 h2 h3 h4 h5 h6 ul{
    font-family: sans-serif !important;
}
.dmXgDj {
    font-family: sans-serif !important;
}
.jiSZin
{
    font-family: sans-serif !important;  
}
.eDiFOB 
{
    font-family: sans-serif !important;
}
.kuuLrW
{
    font-family: sans-serif !important;
}
.kyHoQF
{
    font-family: sans-serif !important;  

}
.sKABS
{
    font-family: sans-serif !important;     
}
.etdtwY
{
    font-family: sans-serif !important;   
}
.bXvIFI
{
    font-family: sans-serif !important;    
}
.kSihBb
{
    font-family: sans-serif !important;        
}
.sA-Ddu
{
    font-family: sans-serif !important;  
}